@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size: 0px;
    background-color: black;
}

/** Parte 1 **/

.Parte1{
    width: 100%;
    height: 250px;
    font-size: 20px;
    background-image: radial-gradient(circle at 12.5% 12.5%, #cb7a00 0, #d06d00 10%, #d55f00 20%, #d84e00 30%, #da3908 40%, #db1515 50%, #db001f 60%, #d90029 70%, #d70034 80%, #d4003f 90%, #cf004c 100%);    background-size: cover;
}
.logo{
    width: 200px;
    height: 200px;
    position: relative;
    top: -210px;
    left: 100px;
}
.nombre{
    top: 100px;
    left: 820px;
    position: relative;
    font-size: 40px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px black;
}

/** Parte 2 **/

.Parte1 nav{
    width: 50%;
    height: 100px;
    margin: 20px;
    position: relative;
    top: 70px;
    left: 1600px;    
}
.Parte2{
    width: 100%;
    height: 600px;
    background-image: radial-gradient(circle at 12.5% 12.5%, #cb7a00 0, #d06d00 10%, #d55f00 20%, #d84e00 30%, #da3908 40%, #db1515 50%, #db001f 60%, #d90029 70%, #d70034 80%, #d4003f 90%, #cf004c 100%);    background-size: cover;
}
.foda{
    width: 48.7%;
    height: 260px;
    margin: 10px 10px;
    background-color: rgba(255, 255, 255, .30);
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 0px 4px black;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    position: relative;
}
.foda:hover{
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.cuatro{
    position: relative;
    top: -75px;
    right: 0px;
}

/**Parte 3 **/

.Parte3{
    width: 100%;
    height: 600px;
    background-color: black;
}
.art{
    width: 50%;
    height: 100%;
    background-color: black;
    display: inline-block;
    font-size: 20px;
}
#SliderInt{
    position: relative;
    top: 0px;
    right: 0px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    width: 100%;
    height: 100%;
  }
ul.slider h1{
    position: absolute;
    background-color: rgba(255, 255, 255, .30);
    padding: 10px;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background-image: url(/Imagenes/Ciudad2.jpg);
    background-size: cover;
    color: black;
}
ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.menu{
    text-align: center;
    margin: 5px;
    background-color: black;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rebeccapurple;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

/** Parte 4 **/

.Parte4{
    width: 100%;
    height: 400px;
    background-image: radial-gradient(circle at 12.5% 12.5%, #cb7a00 0, #d06d00 10%, #d55f00 20%, #d84e00 30%, #da3908 40%, #db1515 50%, #db001f 60%, #d90029 70%, #d70034 80%, #d4003f 90%, #cf004c 100%);    background-size: cover;
}
#exp{
    width: 47%;
    height: 300px;
    background-image: linear-gradient(40deg, #5b4e4c 0, #554443 16.67%, #4a3334 33.33%, #3b1d22 50%, #2b0612 66.67%, #240003 83.33%, #1f0000 100%);
    margin: 20px;
    display: inline-block;
    position: relative;
    top: 50px;
    right: 0;
    border-radius: 70px;
    box-shadow: 3px 3px 7px white;
}
#exp h1{
    text-align: center;
    font-size: 40px;
    color: white;
    position: relative;
    top: 10px;
    right: 0;
}
#exp ul{
    text-align: center;
    position: relative;
    top: 40px;
    right: 0;
    font-size: 30px;
    color: white;
}

/** Footer **/

.final{
    width: 100%;
    height: 150px;
    background-color: black;
    font-size: 15px;
}
.final p{
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
    right: 0;
    font-family: 'Bebas Neue', cursive;
}